/* Stiluri de bază pentru navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrare logo */
  background-color: rgb(25, 32, 65, 1);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stiluri pentru logo */
.navbar-logo {
  max-width: 100%;  /* Scalare automată în funcție de container */
  height: auto;     /* Păstrează proporțiile */
  max-height: 100px; /* Dimensiune maximă a logo-ului */
}

/* Media query pentru ecrane mici */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between; /* Poziționare diferită dacă adaugi alte elemente */
    padding: 10px;
  }

  .navbar-logo {
    max-height: 50px; /* Redu dimensiunea logo-ului pe ecrane mici */
  }
}

/* Media query pentru ecrane foarte mici */
@media (max-width: 480px) {
  .navbar-logo {
    max-height: 40px; /* Ajustare suplimentară pentru telefoane mici */
  }
}
