.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px); /* Ajustăm înălțimea pentru header și footer */
  padding: 1rem;
  box-sizing: border-box;
}

router-outlet {
  flex: 1; /* Face conținutul să ocupe spațiul rămas */
}
